body {
    font-family: Montserrat; 
    background-color: #8FBFBF ;
    color: #554136;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Sigmar"; 
    font-size: 50px; 
}

h2{
    font-size: 30px;
    text-align: center;
}

header{
    text-align: center;
}


#hero, footer{
    color: #FFAF80;
    border: .5rem solid #FFAF80;
    border-radius: 1rem;
    background-color: #554136;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

/* hero section */

 #hero img{
    width: 20rem;
}

/* bio section */

#bio{
    text-align: center;
}

/* hobbies section */

#hobbies{
    background-color: #FFAF80;
    border: .5rem dotted #AA988E;
    padding: 10px;
    max-width: 20rem;
    margin: 0 auto;
    
}



#hobbies ul li:nth-child(odd){
    color: #668080;    
}

/* gallery section */

#gallery{
    border: 5px solid #554136;
    margin: 3rem;

}

#gallery img{
    max-width: 100%;
    
}

#gallery figure{
    text-align: center;
}

/* Literature */
#lit{
    text-align: left;
    background-color: #FFAF80;
    border: 5px solid #554136;
    border-radius: 1rem;
    margin:20px;
    max-width: 40rem;
    margin: 0 auto;
    padding: 10px;

}

#lit h2{
    text-decoration: underline;
}

#lit div p{
    padding: 0.3rem;
    clear:both;
    margin: 2px;
}

/*Dropcaps*/

#lit div p:first-letter{
   color: #668080;
   float: left;
   font-size: 3em;
   padding: .5em;
   margin-right: .25em;
   line-height: .65;
   border:10px groove #668080

}

