body {
    font-family: Montserrat; 
    background-color: #8FBFBF ;
    color: #554136;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Sigmar"; 
    font-size: 50px; 
}

h2{
    font-size: 30px;
    text-align: center;
}

header{
    text-align: center;
}


#hero, footer{
    color: #FFAF80;
    border: .5rem solid #FFAF80;
    border-radius: 1rem;
    background-color: #554136;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

/* hero section */

 #hero img{
    width: 20rem;
}

/* bio section */

#bio{
    text-align: center;
}

/* hobbies section */


#hobbies{
    background-color: #FFAF80;
    border: .5rem dotted #AA988E;
    padding: 20px;
    margin: 0 auto;
    max-width: 20rem;
}

#hobbies ul li:nth-child(odd){
    color: #668080;    
}

/* gallery section */

#gallery{
    border: 5px solid #554136;
    margin: 3rem;

}

#gallery img{
    max-width: 100%;
    
}

#gallery figure{
    text-align: center;
}



/* Literature */
#lit{
    text-align: left;
    background-color: #FFAF80;
    border: 5px solid #554136;
    border-radius: 1rem;
    padding: 10px;

}

#lit h2{
    text-decoration: underline;
}

#lit div {
    padding: 0.3rem 0;
    clear: both;
    
}

/*Dropcaps*/

#lit div p:first-letter{
   color: #668080;
   float: left;
   font-size: 3em;
   padding: .5em;
   margin-right: .10em;
   line-height: .55;
   border: 10px groove #668080

}

#myVideo h2{
    border: .5rem dotted #554136;
    padding: 20px;
    margin: 50px auto;
    max-width: 20rem;
}

#myVideo{
    text-align: center;
    width: 100%;
   
}

#myVideo p{
    font-size: 25px;
} 

/* layout for 960px */
@media screen and (min-width: 60em){

    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figure img{
        width: 100%;
    }

    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem; 
    }


    #lit div {
        max-width: 100%;
        columns: 20rem;
    }
 
   

}

/* large screen size */
@media screen and (min-width: 80em ){

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }

    figure{
        display: block;
    }

    #myVideo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #myVideo p{
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myVideo h2{
        grid-column: 1/-1;
    }
}